@using PierresBakery.Models;

        <form action="/orders" method="post">
            <label for="description">Add a New Decription or Item for the Vendor!</label>
            <input id="description" name="description" type="text">
            <button type="submit">Submit</button>
        </form>