
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Pierres Client Tracker</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>This is where you can start managing!</h3>
            <br>
           <button onclick='window.location ="/vendors"'> Click Here to View Vendors</button>
           <button onclick='window.location ="/vendors/new"'> Click Here to add New Vendor</button>
        </div>
    </body>

</html>